.body2-mainRow {
  height: 232px;
  align-items: center;
}

.body2-mainCol {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-body2 {
  margin: 15px;
  height: 40px;
}

/* For screen size less than 992px */
@media screen and (max-width: 992px) {
  .body2-mainRow {
    height: 232px;
    align-items: center;
  }

  .body2-mainCol {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-body2 {
    margin: 15px;
    height: 40px;
    display: block;
  }
}

/* For screen size less than 768px */
@media screen and (max-width: 768px) {
  .body2-mainRow {
    height: 150px;
  }

  .body2-mainCol {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-body2 {
    margin: 5px;
    width: 77px;
    height: 27px;
    display: block;
  }
}
