.mainRowBody1 {
  height: 532px;
  position: relative;
}

.h2-body1 {
  font-size: 18px;
  text-align: center;
  color: #582066;
  margin-top: 70px;
}

.h1-body1 {
  font-size: 60px;
  text-align: center;
}

.h3-body1 {
  font-size: 18px;
  text-align: center;
  color: #5a6475;
  margin: 20px auto;
  max-width: 650px;
}

.button-body1 {
  background-color: #582066;
  margin: 20px auto;
  display: block;
  font-size: 20px;
  height: 50px;
}

.arrowIcon-body1 {
  margin-left: 5px;
}

.p-body1 {
  text-align: center;
  margin-top: 10px;
}

.img-body1 {
  z-index: -1;
  position: absolute;
  width: 610px;
  height: 400px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* For screen size less than 992px */
@media screen and (max-width: 992px) {
  .h3-body1 {
    max-width: 550px;
  }
}

/* For screen size less than 767px */
@media screen and (max-width: 767px) {
  .h2-body1 {
    font-size: 18px;
    text-align: center;
    color: #582066;
    margin-top: 40px;
  }

  .h1-body1 {
    font-size: 35px;
    text-align: center;
  }

  .button-body1 {
    background-color: #582066;
    margin: 20px auto;
    display: block;
    font-size: 20px;
    height: 50px;
    width: 95%;
    margin-bottom: 0px;
  }

  .p-body1 {
    text-align: center;
  }

  .img-body1 {
    z-index: -1;
    position: absolute;
    width: 340px;
    height: 250px;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mainRowBody1 {
    height: 410px;
    position: relative;
  }
}
