.row-main-body4 {
  height: 900px;
}

.title-body4 {
  text-align: center;
  font-size: 40px;
}

.sub-title-body4 {
  font-size: 18px;
  text-align: center;
  color: #5a6475;
}

.span-body4 {
  color: #582066;
  text-align: center;
  display: block;
}

.main-div-body4 {
  height: 490px;
  width: 1216px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.img-body4 {
  width: 592px;
  height: 490px;
}

/* For screen size less than 992px */
@media screen and (max-width: 992px) {
  .main-div-body4 {
    height: 300px;
    /* width: 1216px; */
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }

  .img-body4 {
    /* width: 592px; */
    width: 48.6%;
    height: 300px;
  }
  .row-main-body4 {
    height: 700px;
  }
}
