.row-main-body5 {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-main-body5 {
  height: 188px;
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item-div-body5 {
  margin-left: 44px;
  margin-right: 44px;
  display: block;
  position: relative;
}
.title-body5 {
  font-size: 48px;
  color: #582066;
  font-weight: 500;
}
.sub-body5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: -10px;
}
.about-body5 {
  color: #5a6475;
  font-size: 15px;
  max-width: 220px;
  margin: -10px auto;
}
