.row-main-footer2 {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-main-footer2 {
  height: 200px;
}

/* For screen size less than 768px */
@media screen and (max-width: 768px) {
  .row-main-footer2 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-main-footer2 {
    height: 380px;
  }
}
